@keyframes error404 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.error404 {
	background-image: url(../../public/110544-ONXRZR-643.jpg);
	background-size: 100%;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	user-select: none;
}
.errorTitle {
	color: rgb(249 255 78);
	text-shadow: 5px 3px rgb(6, 6, 6);
	opacity: 0;
}
.link404 {
	font-size: 20px;
	margin-top: 15px;
	text-decoration: none;
	color: rgb(249 255 78);
	border-bottom: 1px solid;
	border-bottom-color: #00000070;
	text-shadow: 2px 1px rgb(6, 6, 6);
}
.link404:hover {
	transition: 0.5s ease;
	text-decoration: none;
	color: #6dcf82a6;
	border-bottom-color: #6dcf8281;
}

.errorTitle,
.link404 {
	animation: error404 ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 2s;
}
