.todoForm {
	display: flex;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	justify-content: space-between;
	align-items: center;
}
.todoInput {
	display: block;
	width: 75%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #bdbdbd;
	border-radius: 0.25rem;
	transition:
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	user-select: none;
}

.addNewTask {
	width: 20%;
	font-weight: 700;
	color: white;
	text-decoration: none;
	padding: 0.8em 1em calc(0.2em + 3px);
	border-radius: 3px;
	background: rgb(64, 199, 129);
	box-shadow: 0 -3px rgb(53, 167, 110) inset;
	transition: 0.2s;
	user-select: none;
}
.addNewTask:hover {
	background: rgb(53, 167, 110);
	box-shadow: 0px 1px 1px 1px rgb(192 183 170);
}
.addNewTask:active {
	background: rgb(33, 147, 90);
	box-shadow: 0 3px rgb(33, 147, 90) inset;
}
.errorLabel {
	display: inline-block;
	padding: 0.375rem 0.75rem;
	margin-bottom: 10px;
	width: 75%;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #ccc;
	text-underline-position: under;
	user-select: none;
}
