.searchContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.searchButton {
	background: none;
	border: none;
	color: white;
	margin-right: 5px;
	cursor: pointer;
	user-select: none;
}
.searchButton:hover {
	color: rgba(255, 255, 255, 0.7);
}
.searchInput {
	border: none;
	border-radius: 5px;
	padding: 8px;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
}
