body {
	background-image: url(../public/istockphoto-1142424263-612x612.jpg);
}

.app {
	margin: 50px auto;
	width: 300px;
	height: 500px;
	border: 1px solid #000;
	border-radius: 20px;
	background: #000;
	padding: 18px;
	box-shadow: 4px 4px 4px #4f4f4f;
}
.output {
	height: 140px;
	padding: 10px;
	display: grid;
	justify-items: end;
	align-items: end;
}
.textWhite {
	text-align: right;
	font-size: 4rem;
	margin: 0;
	margin-bottom: 5px;
	margin-right: 10px;
	width: 270px;
	overflow: hidden;
	white-space: nowrap;
	color: #ffffff;
}

.textGreen {
	text-align: right;
	font-size: 4rem;
	margin: 0;
	margin-bottom: 5px;
	margin-right: 10px;
	width: 270px;
	overflow: hidden;
	white-space: nowrap;
	color: #a2f6ac;
}

.keyboard {
	justify-items: center;
	display: grid;
	grid-template-areas:
		'plus minus equal'
		'seven eught nine'
		'four five six'
		'one two three'
		'null null del';
	grid-gap: 5px;
}

.button,
.null,
.func,
.del {
	width: 60px;
	height: 60px;
	background-color: #333;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	border: none;
	color: #ffffff;
	font-size: 1.5rem;
	cursor: pointer;
	user-select: none;
}
.null {
	grid-area: null;
	width: 80%;
	border-radius: 34px;
}

.button:hover,
.func:hover,
.null:hover,
.del:hover {
	filter: brightness(120%);
}
.button:active {
	filter: brightness(90%);
}
.func {
	background-color: #e28700;
}
.del {
	background-color: #7c7b7b;
}
