body {
	margin: 0;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}
.wrapper {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.gameInfo {
	margin: 0;
	font-size: 36px;
	color: rgb(0, 0, 0);
}
.refresh {
	width: 200px;
	height: 35px;
	cursor: pointer;
	color: rgb(253, 253, 253);
	background-color: #000000;
	border: 1px solid rgb(0, 0, 0);
	padding: 0px;
}
.refresh:hover {
	background-color: #aaefb7;
	color: #070707;
	transition: 0.3s all ease;
}
.inv {
	width: 200px;
	height: 35px;
	border: 1px solid rgb(0, 0, 0);
	padding: 0px;
	opacity: 0;
}
