* {
	padding: 0;
	margin: 0;
}
body {
	background: #f7f1f1;
	font-size: 1.1rem;
	font-family: 'Quicksand', sans-serif;
	height: 100%;
}
.todoList {
	margin: 4rem auto;
	padding: 2rem 3rem 3rem;
	max-width: 500px;
	background: #ff6666;
	color: #fff;
	box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, 0.1);
}
